<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">New note</div>
    <div class="card-body p-0">
        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="title" placeholder="title" name="title" formControlName="title"
                (focus)="onInputFocus()">
            <label for="title">Title</label>
        </div>
        <noty-list-item *ngIf="isFocused" />
    </div>
    <div *ngIf="isFocused" class="card-footer text-body-secondary text-end">
        <button type="button" class="btn btn-primary ms-1">Ok</button>
        <button type="button" class="btn btn-dark ms-1" (click)="onCancel()">Cancel</button>
    </div>
</div>