<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">New note</div>
    <div class="card-body p-0">
        <fieldset>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="title" placeholder="title" name="title"
                    formControlName="title">
                <label for="title">Title</label>
            </div>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="text" placeholder="text" name="text"
                    formControlName="text">
                <label for="text">Item</label>
            </div>
        </fieldset>
    </div>
</div>