
#
#  Common files:
# -----------------------------------------------------------------------------
.work
.gradle/

#
#  Generated WEB UI:
# -----------------------------------------------------------------------------
/**/src/main/resources/static/ui

# eof
