<form>
    <h1 class="h3 mb-3 fw-normal">Sign up!</h1>

    <div class="form-floating mb-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Choose Password</label>
    </div>

    <div class="form-check form-switch mt-4">
        <input class="form-check-input" type="checkbox" role="switch" id="acceptTermsAndConditions">
        <label class="form-check-label" for="acceptTermsAndConditions">Do you accept our terms and conditions?</label>
    </div>

    <div class="form-check form-switch mb-4">
        <input class="form-check-input" type="checkbox" role="switch" id="acceptPrivacyPolicy">
        <label class="form-check-label" for="acceptPrivacyPolicy">Do you accept or privacy policy?</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Go to your notes!</button>
</form>
<h4 class="mt-5">Already have an account? <a routerLink="/home/signin">Sign in!</a></h4>